*,
*:after,
*:before {
    margin: 0;
    padding: 0;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

.clearfix::before,
.clearfix::after {
content: "";
display: table;
}

.clearfix::after {
clear: both;
}

.clearfix {
clear: both;
*zoom: 1;
}

/*
==========
GRID
==========
*/

.grid {
    width: 80%;
    margin: 0 auto;
}

body {
    background: #fff;
    background-size: cover;
    font-family: "Montserrat", "Open Sans", sans-serif, arial;
    font-weight: 300;
    filter: grayscale(0);
}

/*
========
TOP-LINE
========
*/

.top-line {
    color: #fff;
    font-weight: 200;
    width: 100%;
    font-size: 25px;
    padding: 10px 7%;
    border-bottom: 1px solid #d8d8d8;
    background: #000;
}

.top-line span {
    padding-right: 3%;
}

.top-phone-number:before {
    content: url(portfolio-images/icons/phone-white-32.png);
    float: left;
}

    /*icons*/

.top-icons {
    float: right;
    padding: 2px 4px;
    line-height: 0;
    border-radius: 10px;
}

.social-icons {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .25s;
}

/*----------------------*/
.mail-icon {
    background-image: url(portfolio-images/icons/mail-black-48.png);
    background-size: 24px;
}
.mail-icon:hover {
    background-image: url(portfolio-images/icons/mail-white-48.png);
}
/*----------------------*/
.github-icon {
    background-image: url(portfolio-images/icons/github-black-50.png);
}
.github-icon:hover {
    background-image: url(portfolio-images/icons/github-white-50.png);
}
/*----------------------*/
.facebook-icon {
    background-image: url(portfolio-images/icons/facebook-black-50.png);
}
.facebook-icon:hover {
    background-image: url(portfolio-images/icons/facebook-white-50.png);
}
/*----------------------*/

/*
========
TOP-NAVIGATION
========
*/

 #nav-selected {
    color: black;
}

.top-nav {
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: 200;
    color: #a3a3a3;
}

.top-nav li {
    display: inline-block;
    margin-top: 10px;
    padding: 20px 40px;
    letter-spacing: 1.5px;
}

.top-nav a:hover {
    color: black;
    transition: .25s;
}

/*
========
MAIN
========
*/

.main {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.preview-project {
    position: relative;
    width: 400px; 
    min-width: 400px;
    height: 250px;
    margin: 20px;
    border-radius: 30px;
    background: #fff;
    border: 1px solid #959595;
}

.preview-description {
    border-radius: 0 0 30px 30px;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.69);
    width: 100%;
    height: 20%;
    padding: 5px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.building-conference {
    background-image: url(portfolio-images/projects-images/building-conference.jpg);
    background-size: cover;
    background-repeat: no-repeat
}