*,
*:after,
*:before {
    margin: 0;
    padding: 0;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

/*=====*/

.clearfix::before,
.clearfix::after {
content: "";
display: table;
}

.clearfix::after {
clear: both;
}

.clearfix {
clear: both;
*zoom: 1;
}

/*=====*/

.grid {
    width: 80%;
    margin: 0 auto;
}

body {
    background: #fff;
    font-family: "Montserrat", "Open Sans", sans-serif, arial;
    font-weight: 300;
}


/*
==================================
HOME PAGE
==================================
*/

/*TOP-LINE*/

.top-line {
    color: #ffffff;
    font-weight: 400;
    width: 100%;
    font-size: 25px;
    padding: 10px 15%;
    background: #000000;

}

.small-block {
    font-size: 40%;
    display: inline-block;
    width: 10%;
    padding: 5px;
    font-weight: 300;
}

    /*icons*/

.top-icons {
    float: right;
    padding: 5px 10px;
    line-height: 0;
}

.social-icons {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .3s;
    border-radius: 5px;
}


/*----------------------*/
.mail-icon {
    background-image: url(portfolio-images/icons/mail-black-48.png);
    background-size: 24px;
}
.mail-icon:hover {
    background-image: url(portfolio-images/icons/mail-grey-48.png);
}
/*----------------------*/
.github-icon {
    background-image: url(portfolio-images/icons/github-black-50.png);
}

.github-icon:hover {
    background-image: url(portfolio-images/icons/github-grey-50.png);
    
}
/*----------------------*/
.facebook-icon {
    background-image: url(portfolio-images/icons/facebook-black-50.png);
}
.facebook-icon:hover {
    background-image: url(portfolio-images/icons/facebook-grey-50.png);
    
}
/*----------------------*/


/*TOP-NAVIGATION*/


 #nav-selected {
    color: black;
}

.top-nav {
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: 200;
    color: #a3a3a3;
}

.top-nav li {
    display: inline-block;
    padding: 35px 40px;
    letter-spacing: 1.5px;
}

.top-nav a:hover {
    color: #000000;
    transition: .25s;
}

/*MAIN*/

.main {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.preview-project {
    position: relative;
    width: 350px; 
    height: 250px;
    margin: 25px;
    border-radius: 30px;
    background: #fff;
    border: 1px solid #959595;
}

.preview-project:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.22);
    transition: .2s;
}

.preview-description {
    border-radius: 0 0 30px 30px;
    position: absolute;
    bottom: -1px;
    background: rgba(0, 0, 0, 0.42);
    width: 100%;
    height: 18%;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    word-wrap: break-word;
}

.preview-description:hover {
    height: 50%;
    transition: 1s;
    background: rgba(0, 0, 0, 0.65);
}
.preview-description p {
    margin-top: 15px;
    border-top: 1px solid #767676;
    font-size: 14px;
    text-transform: none;
}

/*
==================================
ABOUT-PAGE
==================================
*/

.about {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    line-height: 30px;
}

.about h2 {
    font-weight: 400;
    font-size: 30px;
}

.about-date {
    font-style: italic;
    font-size: 14px;
    letter-spacing: 2px;
}

.about-info {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    max-width: 240px;
}

.about-info img {
    width: 220px;
    border-radius: 25px;
    margin: 10px;
    margin-bottom: 20px;
}

.about-job {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}

.about-job article {
    margin-bottom: 40px;
    padding: 10px;
    border-bottom: 1px solid #dbdbdb;