*,
*:after,
*:before {
    margin: 0;
    padding: 0;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

/*
==========
GRID
==========
*/

.grid {
    width: 80%;
    margin: 0 auto;
}

body {
    background: #fff;
    font-family: "Montserrat", "Open Sans", sans-serif, arial;
    color: #777777;
    font-weight: 300;
}

/*
========
TOP-LINE
========
*/

.top-line {
    width: 100%;
    font-size: 25px;
    padding: 10px 10%;
    border-bottom: 1px solid #d8d8d8;
}

.top-line span {
    padding-right: 3%;
}

    /*icons*/

.top-icons {
    float: right;
/*    margin-top: -13px;*/
    padding: 2px 4px;
    line-height: 0;
    border-radius: 10px;
}

.top-icons:hover {
    box-shadow: 0 0 2px rgb(82, 82, 82);
    transition: .5s;
}

.social-icons {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .2s;
}

/*----------------------*/

.mail-icon {
    background-image: url(portfolio-images/icons/mail-white-48.png);  
}
.mail-icon:hover {
    background-image: url(portfolio-images/icons/mail-black-48.png);
}

/*----------------------*/

.github-icon {
    background-image: url(portfolio-images/icons/github-white-50.png);
}
.github-icon:hover {
    background-image: url(portfolio-images/icons/github-black-50.png);
}

/*----------------------*/

.facebook-icon {
    background-image: url(portfolio-images/icons/facebook-white-50.png);
}
.facebook-icon:hover {
    background-image: url(portfolio-images/icons/facebook-black-50.png);
}

/*----------------------*/

/*
========
TOP-NAVIGATION
========
*/

.top-nav {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 200;
}

.top-nav li {
    display: inline-block;
    padding: 20px 40px;
}

.top-nav li:hover {
    color: black;
}