*,
*:after,
*:before {
    margin: 0;
    padding: 0;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

/*
==========
GRID
==========
*/

.grid {
    width: 80%;
    margin: 0 auto;
}

body {
    background: #fff;
}

/*
========
TOP-LINE
========
*/

.top-line {
    width: 100%;
    height: 60px;
    padding: 15px;
}

.top-icons {
    float: right;
}

.ooo {
    
}