*,
*:after,
*:before {
    margin: 0;
    padding: 0;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

/*
==========
GRID
==========
*/

.grid {
    width: 80%;
    margin: 0 auto;
}

body {
    background: #fff;
    font-family: "Montserrat", "Open Sans", sans-serif, arial;
    font-weight: 300;
}

/*
========
TOP-LINE
========
*/

.top-line {
    font-size: 25px;
    width: 100%;
    height: 60px;
    padding: 15px;
}

    /*icons*/

.top-icons {
    float: right;
}

.social-icons {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
}

.mail-icon {
    background-image: url(portfolio-images/icons/mail-black-24.png);  
}

.mail-icon:hover {
    background-image: url(portfolio-images/icons/mail-white-24.png);
    transition: .2s;
}

.github-icon {
    background-image: url(portfolio-images/icons/github-black-24.png);
}

.github-icon:hover {
    background-image: url(portfolio-images/icons/github-white-24.png);
    transition: .2s;
}

.facebook-icon {
    background-image: url(portfolio-images/icons/facebook-black-24.png);
}

.facebook-icon:hover {
    background-image: url(portfolio-images/icons/facebook-white-24.png);
    transition: .2s;
}