
.catalog {
    margin: 0 auto;
    color: inherit;
    flex-basis: 600px;
    flex-grow: 1;
}

.catalog td {
    padding: 12px;
    border-bottom: 1px solid #d1d1d1;
}

.catalog h3,
.catalog thead  th {
    font-weight: 700;
}

th {
    text-transform: uppercase;
    font-weight: 400;
    padding: 10px;
    font-size: 16px
}

        /* button id: long-content-up */

.table-up {
    position: fixed;
    bottom: 25%;
    left: 25%;
    width: 120px;
    height: 40px;
    font-weight: 700;
    border: 2px solid #38aaf2;
    border-radius: 5px;    
    background: #fff;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

.table-up:hover {
    background: linear-gradient(#5cc0ff,#009cff);
    color: #fff;
    transition: ease-in-out .2s;
}

